.videos-editor {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 1em;
    display: flex;
  }
  h2 {
    margin-bottom: 5px;
    + div .ui.checkbox label {
      color: #79858c;
    }
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  img {
    height: 4em;
    width: auto;
    margin-right: 1em;
  }
}