{{#paper-nav-container classNames="ember-app"}}
  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>Mission Control</strong>
        </div>
      </div>
    {{/paper-toolbar}}
    
    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          {{#if loggedIn}}
            <li>
              <a href="#" {{action "logout"}}>
                <i class="user icon"></i> Hello, {{name}}<br>
                <small>Log out</small>
              </a>
            </li>
          {{else}}
            <li>{{#link-to "login" class="item"}}Log in{{/link-to}}</li>
          {{/if}}
          <li>{{#link-to 'index' class='item'}}<i class="home icon"></i> Home{{/link-to}}</li>
          <li>{{#link-to 'bulletins' class='item'}}<i class="file icon"></i> Bulletins{{/link-to}}</li>
          <li>{{#link-to 'witnesses' class='item'}}<i class="mail icon"></i> Witnesses{{/link-to}}</li>
          <li>{{#link-to 'featured' class='item'}}<i class="star icon"></i> Featured Content{{/link-to}}</li>
          <li>{{#link-to 'notifications' class='item'}}<i class="feed icon"></i> Notify{{/link-to}}</li>
          <li>{{#link-to 'calendars' class='item'}}<i class="calendar icon"></i> Calendars{{/link-to}}</li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}
  
  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}
  
{{/paper-nav-container}}