<h1 class="ui header">Bulletins</h1>

<button id="new-bulletin" class="ui blue button" {{action "newBulletin"}}>New Bulletin</button>

<div class="ui link divided list pdf-list">
  {{#liquid-bind bulletins as |b|}}
    {{#each b as |bulletin|}}
      <div data-client-id={{bulletin._clientId}}>
        {{bulletin-component model=bulletin}}
      </div>
    {{/each}}
  {{/liquid-bind}}
</div>