<h1 class="ui header">Bulletins</h1>

<button id="new-bulletin" class="ui blue button" {{action "newBulletin"}}>New Bulletin</button>

<div class="ui link divided list">
  {{#each model key="@guid" as |bulletin|}}
    {{bulletin-component model=bulletin}}
  {{/each}}
</div>