<h1 class="ui header">Witnesses</h1>

<button class="ui blue button" {{action "newWitness"}}>New Witness</button>

<div class="ui link divided list">
  {{#each model as |witness|}}
    {{methodist-witness model=witness}}
  {{/each}}
</div>

